.Board {
    -fx-border-color: red;
}

.BoardTile {
    /*-fx-border-color: lime;*/
}

.white {
    -fx-background-color: #eed7b5;
}

.black {
    -fx-background-color: #b48763;
}

.hovered.white  {
    -fx-background-color: #adb088;
}

.hovered.black  {
    -fx-background-color: #84774e;
}

.dragAndDropSource.black  {
    -fx-background-color: #636c40;
}

.dragAndDropSource.white  {
    -fx-background-color: #809569;
}
